.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* GLASS STYLE */
.content{
  background-image: url(../public/glassesImage/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.title{
  width: 100%;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.795);
  color: white;
  text-align: center;
  line-height: 60px;
  font-size: 2rem;
  margin-bottom: 5px;
}

.vglasses__items{
  align-self: center;
  cursor: pointer;
}

.vglasses__items img{
  width: 100%;
}

.vglasses__model{
  background-image: url('../public/glassesImage/model.jpg');
  background-position: center top;
  background-size: cover;
  height: 600px;
  
}

.vglasses__model img{
  position: absolute;
  top: 25%;
  left: 24%;
  width: 238px;
  height: 85px;
  opacity: 0.9;
}

.vglasses__card{
  position: relative;
  overflow: hidden;
  background-color: white;
  border: 1px solid black;
}

.vglasses__info_left{
  position: absolute;
  bottom:0;
  left: 0;
  text-align: left;
  background-color: rgba(0,0,0,0.7);
  width: 100%;
  color: white;
  padding: 20px;
 display: block;
}

.vglasses__info_right{
  position: absolute;
  bottom:0;
  left: 0;
  text-align: left;
  background-color: rgba(0,0,0,0.7);
  width: 100%;
  color: white;
  padding: 20px;
 /* display: none; */
 display: block;
}

#glasses{
  transition: all 0.5s;
}

.price{
  width: 50px;
  height: 30px;
  background-color: rgb(155, 11, 11);
  border-radius: 5px;
}

span{
  padding: 0 20px;
  color: green;
  margin-left: 20px;
}

.container{
  margin: 20px 0;
}

.glasses__list{
  background-color: #FCFCFC;
  border: 1px solid black;
}